<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.mapper.AddressMapper">
    <sql id="selectAddress">
        address_id as addressId,address as address
    </sql>

    <select id="AddressSelectAlls" resultType="com.hand.entity.Address">
        select
        <include refid="selectAddress"/>
        from address
    </select>
</mapper>